.articles {
    padding: 160px 0;
    @include mini-desktop {
        padding: 100px 0;
    }
    @include small-tablet {
        padding: 70px 0;
    }
    @include mobile {
        padding: 70px 0 40px;
    }
    @include small-mobile {
        padding: 70px 0 20px;
    }
    &__head {
        margin-bottom: 80px;
        @include flex-all-between;
        gap: 32px 15px;

        @include mini-desktop {
            margin-bottom: 40px;
        }
        @include small-tablet {
            margin-bottom: 28px;
        }
        @include mobile {
            margin-bottom: 10px;
            flex-direction: column;
        }
    }
    &__heading {
        max-width: 435px;
    }
    &__title {
        margin-bottom: 24px;
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }
    &__description {
        font-weight: 500;
        line-height: 178%;
        color: var(--neutral-color-150);
    }
    &__slider-btns {
        display: flex;
        gap: 16px;

        @include mobile {
            align-self: flex-end;
        }
    }
    &__prev,
    &__next {
        // border?
        //inactive; adaptive
        border-radius: 50%;
        padding: 16px;
        width: 50px;
        height: 50px;
        border: 1px solid var(--neutral-color-100);
        background-color: var(--neutral-color-100);
        transition:
            background-color var(--transition),
            border var(--transition),
            opacity var(--transition);
        & path {
            fill: var(--neutral-color-10);
            transition: fill var(--transition);
        }

        &:hover {
            opacity: 0.8;
        }
        &.swiper-button-disabled {
            border: 1px solid #ced1d8;
            background-color: transparent;
            &:hover {
                opacity: 1;
            }

            & path {
                fill: #ced1d8;
            }
        }
    }

    &__slider-container {
        max-width: 1440px;
        padding-left: 120px;
        @include small-desktop {
            padding: var(--container-padding);
            max-width: calc(
                var(--container-width) + (var(--container-padding) * 2)
            );
        }
    }
    &__slider {
        @include small-desktop {
            overflow: visible !important;
        }
        @include mini-desktop {
            overflow: hidden !important;
        }
        &-inner {
            cursor: grabbing;
            @include small-desktop {
                margin-bottom: 50px;
            }
            @include mobile {
                margin-bottom: 45px;
            }
        }
    }
    &__slide {
        max-width: 426px;
        user-select: none;
        @include tablet {
            max-width: 600px;
        }
        @include mobile {
            max-width: 600px;
        }
        &-img {
            // height: 428px;
            width: 100%;
            &--long {
                min-height: 600px;
                max-height: 600px;
                @include mini-desktop {
                    min-height: unset;
                    max-height: unset;
                }
            }
            &--short {
                min-height: 400px;
                max-height: 400px;
                @include mini-desktop {
                    min-height: unset;
                    max-height: unset;
                }
            }
            @include small-desktop {
                object-position: 50% 30%;
            }
            @include mini-desktop {
                height: 358px;
            }
            @include tablet {
                height: 558px;
            }
            @include mobile {
                height: 358px;
            }
            @include small-mobile {
                height: 308px;
            }
        }
        &-title {
            margin-top: 24px;
            font-weight: 600;
            line-height: 131%;
            letter-spacing: -0.03em;
            color: var(--neutral-color-100);

            // @include mobile {
            //     margin-top: 16px;
            // }
        }
        &-text {
            margin: 16px 0 24px;
            font-weight: 500;
            line-height: 178%;
            color: var(--neutral-color-150);

            // @include small-tablet {
            //     font-size: 18px;
            // }
            // @include mobile {
            //     margin: 8px 0 16px;
            // }
        }
        &-title,
        &-description {
            // max-width: 458px;
            // @include tablet {
            //     max-width: 696px;
            // }
        }
        &-link {
            padding: 16px 45px;
            border: 1px solid var(--neutral-color-40);
            display: inline-block;
            color: var(--neutral-color-100);
        }
    }
}
