:root {
    // primary colors
    --primary-color-30: #1463ff;
    --primary-color-50: #4e7ddb;
    --primary-color-60: #1463ff;

    //success colors
    --success-color-70: #e2f8f0b3;

    // neutral colors
    --neutral-color-10: #fff;
    --neutral-color-20: #f5f5f5;
    --neutral-color-30: #ededed;
    --neutral-color-40: #ced1d8;
    --neutral-color-50: #afb3bb;
    --neutral-color-60: #18181d;
    --neutral-color-70: #606060;
    --neutral-color-90: #161a34;
    --neutral-color-100: #1d1e25;
    --neutral-color-120: #828282;
    --neutral-color-130: #d9d9d9;
    --neutral-color-140: #000;
    --neutral-color-150: #7e8492;

    //logo colors
    --logo-color-text: #101010;
    --logo-color-circle: #101010;

    //background colors
    --bg-color-10: #1d1e25;

    //box-shadow colors
    // --box-shadow-10: #bfbfbfbf;

    //scrollbar colors
    --scrollbar-bg: #afb3bb;
    --scrollbar-drag: #606060;

    //container
    --container-padding: 15px;
    --container-width: 1200px;

    @include mini-desktop {
        --container-width: 1000px;
    }
    @include tablet {
        --container-width: 860px;
    }
    @include small-tablet {
        --container-width: 620px;
    }
    @include mobile {
        --container-width: 480px;
    }

    //transition
    --transition: 0.2s ease-in-out;

    //z-index
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;
}

[data-theme='dark'] {
    // primary colors
    --primary-color-60: #4b628f;
    // neutral colors
    --neutral-color-10: #1d1e25;
    --neutral-color-90: #18181d;
    --neutral-color-100: #fff;
    --neutral-color-140: #fff;
    //logo colors
    --logo-color-text: #fff;
    --logo-color-circle: #343542;
    //success colors
    --success-color-70: #e2f8f033;
    //overview colors
    --bg-color-10: #18181d;
    //box-shadow colors
    // --box-shadow-10: #4d4e4fbf;
    //scrollbar colors
    --scrollbar-bg: #292a37;
    --scrollbar-drag: #424251;
}
