.slider-tab-controls {
}
.slider-tab-controls__link {
    white-space: nowrap;
}
.slider-tab-controls__link:hover {
}
.slider-tab-controls__link--active {
}
.slider-tab-content {
    display: none !important;
}
.slider-tab-content--show {
    display: block !important;
}
