.map {
    padding: 90px 0 85px;
    &__title {
        margin-bottom: 100px;
        max-width: 741px;
        font-weight: 700;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }
}
