.insight {
    position: relative;
    padding: 60px 0 91px;
    @include mobile {
        padding: 60px 0 40px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 83.4%;
        max-width: 1200px;
        height: 0;
        border: 1px solid var(--neutral-color-30);
    }

    &__container {
    }
    &__title,
    &__description {
        text-align: center;
    }
    &__title {
        margin: 0 auto;
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
    }
    &__description {
        margin: 24px auto 80px;
        font-weight: 500;
        line-height: 178%;
        color: var(--neutral-color-150);

        @include small-tablet {
            margin: 20px 0 50px;
        }
    }

    &__slider {
        // position: relative;
        // &-btn {
        //     @include flex-all-center;
        //     position: absolute;
        //     top: 126px;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     z-index: var(--z-index-2);
        //     border-radius: 50%;
        //     width: 80px;
        //     height: 80px;
        //     background-color: #fff;
        // }
        &-inner {
            margin-bottom: 55px;
            @include small-desktop {
                margin-bottom: 50px;
            }
            @include mobile {
                margin-bottom: 45px;
            }
        }
    }
    &__slide {
        max-width: 582px;
        @include mini-desktop {
            max-width: 482px;
        }
        @include mobile {
            max-width: 400px;
        }
        &-img {
        }
        &-meta {
            @include flex-all-between;
            margin: 16px 0;
            font-weight: 400;
            line-height: 150%;
            color: var(--neutral-color-150);

            @include small-mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &-title {
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: var(--neutral-color-100);
        }
    }

    &__scrollbar {
        background-color: var(--scrollbar-bg) !important;
    }
    &__scrollbar .swiper-scrollbar-drag {
        background-color: var(--scrollbar-drag) !important;
    }
}
