.post-author {
    margin-bottom: 160px;
    &__container {
        max-width: calc(940px + (var(--container-padding) * 2));
        display: flex;
        gap: 48px;
        @include small-tablet {
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__img {
        max-width: 200px;
        max-height: 200px;
        width: 100%;

        @include small-tablet {
            // margin: 0 auto;
            border-radius: 50%;
            max-width: 150px;
            max-height: 150px;
            object-position: 50% 0%;
        }
        @include mobile {
            max-width: 130px;
            max-height: 130px;
        }
    }
    &__info {
        @include flex-column;
        max-width: 650px;

        @include small-tablet {
            // display: flex;
            // flex-direction: column;
            // margin: 0 auto;
            text-align: center;
        }
        &-links {
            margin-bottom: -2px;
            @include flex-align-center;
            gap: 24px;

            @include small-tablet {
                order: 1;
                // margin: 0 auto;
                margin-top: 0px;
                margin-top: 50px;
                flex-direction: column-reverse;
            }
        }
        &-text {
            margin: 16px 0;
            font-weight: 400;
            line-height: 150%;
            color: var(--neutral-color-150);
        }
    }
    &__socials {
        @include flex-all-center;
        gap: 32px;

        @include small-tablet {
            gap: 28px;
        }

        &-item {
            @include flex-all-center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #ddddddc4;
            transition: opacity var(--transition);
            &:hover {
                opacity: 0.8;
            }
        }
        &-link {
            padding-top: 3px;
            & path {
                fill: var(--neutral-color-90);
            }
        }
    }
    &__share-btn {
        font-weight: 500;
        line-height: 162%;
        color: var(--neutral-color-100);
        cursor: pointer;
        // text-decoration: underline;
    }
    &__name {
        font-weight: 600;
        line-height: 131%;
        letter-spacing: -0.03em;
        color: var(--neutral-color-100);
    }
    &__description {
        font-weight: 400;
        line-height: 178%;
        color: var(--neutral-color-100);
    }
}
